.text{
	border:2px solid red;
	display: block;
	width: 210px;
	height: 210px;
	padding: 10px;
	margin: 1px
}
.texto{
	border:2px solid red;
	display: block;
	width: 210px;
	height: 210px;
	padding: 10px;
	margin: 1px
}
.tets{
	border:2px solid red;
	display: block;
	width: 210px;
	height: 210px;
	padding: 10px;
	margin: 1px
}